.action-comics-img {
    width: 100%;
    height: 50px;
    background-color: #0282f9;
    position: relative;
    .comic-book {
        width: 200px;
        position: absolute;
        top: -16em;
        left: 220px;
        position: relative;

        #comic-book-img {
            position: absolute;
            top: 0;
            color: white;
            font-size: 0.9em;
            background-color: #00a9d9;
        }
        #view-gallery-img {
            position: absolute;
            bottom: 5px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 0.9em;
            color: white;
            background-color: #00a9d9;
        }
    }
}

.action-contain {
    width: 70%;
    margin: 0 auto;
    padding: 3em 0;
    display: flex;
    justify-content: space-between;
    .delux-info {
        width: 68%;
        margin-top: 2.4%;
        h1 {
            color: #003f5e;
        }
        .description {
            padding-top: 1em;
        }
        .avaiable {
            display: flex;
            background-color: #55ba59;
            .price {
                width: 70%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-right: 1px solid black;
                border-bottom: 1px solid black;
                padding: 0.7em 0;
                p {
                    color: #bafd9c;
                    padding: 0 1em;
                    span {
                        color: white;
                    }
                }
            }
            .check {
                width: 30%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 1px solid black;
                padding: 0.7em 0;
                p {
                    color: white;
                    padding-right: 0.5em;
                }
                .fa-caret-down {
                    color: white;
                }
            }
        }
    }
    .deluxe-img {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        h4 {
            color: #7e92b3;
        }
        img {
            width: 100%;
        }
    }
}

.talent-specs-tot {
    width: 100%;
    background-color: #f6f6f6;
    .talent-specs {
        width: 70%;
        margin: 0 auto;
        padding-bottom: 3em;
        display: flex;
        justify-content: space-between;
        .talent {
            width: 49%;
            #talent-text {
                font-size: 1.2em;
                font-weight: bold;
                color: #003f5e;
                padding: 1em;
                border-bottom: 1px solid #e3e3e3;
            }
            .art {
                display: flex;
                justify-content: space-between;
                padding: 1em;
                border-bottom: 1px solid #e3e3e3;
                .art-by {
                    width: 15%;
                    p {
                        font-size: 0.8em;
                        font-weight: bold;
                        color: #003f5e;
                    }
                }
                .artist-list {
                    width: 70%;
                    a {
                        text-decoration: none;
                        font-size: 0.8em;
                        color: #00a9d9;
                    }
                }
            }

            .written {
                display: flex;
                justify-content: space-between;
                padding: 1em;
                border-bottom: 1px solid #e3e3e3;
                .written-by {
                    width: 15%;
                    p {
                        font-weight: bold;
                        font-size: 0.8em;
                        color: #003f5e;
                    }
                }
                .writers-list {
                    width: 70%;
                    a {
                        text-decoration: none;
                        font-size: 0.8em;
                        color: #00a9d9;
                    }
                }
            }
        }
    }

    .specs {
        width: 49%;
        #specs-text {
            font-size: 1.2em;
            font-weight: bold;
            color: #003f5e;
            padding: 1em;
            border-bottom: 1px solid #e3e3e3;
        }
        .series-tot,
        .price-tot,
        .sale-tot {
            padding: 1em 0;
            border-bottom: 1px solid #e3e3e3;
        }
        .series-specs,
        .price,
        .sale {
            display: flex;
            width: 60%;
            justify-content: space-between;
            padding-left: 1em;
            a {
                text-decoration: none;
                color: #00a9d9;
                text-transform: uppercase;
            }
            p,
            a {
                font-size: 0.8em;
            }
            .specs-title {
                color: #003f5e;
                font-weight: bold;
            }
        }
    }
}

.digitals {
    width: 100%;
    background-color: #f6f6f6;
    border-top: 1px solid #e3e3e3;
    .digitals-center {
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .digital-comics,
        .shop-dc,
        .coics-shop-locator,
        .subscription {
            border-left: 1px solid #e3e3e3;
            width: 25%;
            padding: 1em 0.8em;
            display: flex;
            justify-content: space-between;
            a {
                text-decoration: none;
                color: #727272;
            }
        }

        .subscription {
            border-right: 1px solid #e3e3e3;
        }
    }

    .digital-center {
        position: relative;
    }

    .digital-center .digital-comics {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        top: 0;
    }

    .digital-center .digital-comics,
    .digital-center a {
        height: 44px;
        display: block;
    }

    #img-digital-comics {
        width: 37px;
        height: 37px;
        background: url("../../images/cta-icons.png") 0 0;
    }

    #img-shop-dc {
        width: 37px;
        height: 37px;
        background: url("../../images/cta-icons.png") -112px 0;
    }

    #img-comics-shop-locator {
        width: 37px;
        height: 37px;
        background: url("../../images/cta-icons.png") -75px 0;
    }

    #img-subscription {
        width: 37px;
        height: 37px;
        background: url("../../images/cta-icons.png") -38px 0;
    }
}
