.main {
    width: 100%;
    background-color: black;
    padding: 2em 0;
    .cards-main {
        width: 85%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .card {
            width: calc((100% / 6) - 1em);
            margin-bottom: 1em;
            img {
                width: 200px;
                height: 200px;
            }
            p {
                color: white;
                text-transform: uppercase;
                padding-top: 0.7em;
            }
        }
    }

    .load {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em 0;
    }
    .load-more {
        color: white;
        padding: 0.4em 2em;
        font-weight: bold;
        color: white;
        background-color: #0282f9;
    }
}
